*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

header{
	text-align: center;
}

header > div{
	display: inline-block;
	vertical-align: middle;

}

.l-title{
	font-size: 22px;
}

#logo-container{
	width: 90px;
	height: 90px;
	margin: 10px 40px;
	background-image:url(../media/hoc-logo.png);
	vertical-align: middle;
	
}

#levels-bar{
	width: 700px;
	height: 70px;
	display: inline-table;
	vertical-align: middle;
	cursor: default;
	border-top: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
}

#levels-bar > div{
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
}

#levels-bar li{
	height: 10px;
	width: 10px;
	margin: 3px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #777;
	background: #ddd;
	border-radius: 10px;
}

#levels-bar li:not(.current-level):hover{
	height: 12px;
	width: 12px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 4px;
	cursor: pointer;
}

#levels-bar li.current-level{
	height: 22px;
	width: 22px;
	font-size: 11px;
	border-radius: 20px;
	font-weight: bold;
	line-height: 20px;
}

#levels-bar li.lcolor0{
	
}

#levels-bar li.lcolor1{
	background-color: #d2ff52;
}