*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

header{
	width: 630px;
	text-align: center;
}

header > div{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	padding: 17px 4px;
	font-size: 20px;
	border-radius: 2px;
	cursor: default;

}

.l-title{
	font-size: 29px;
	margin: 9px 0;
}

#logo-container{
	width: 120px;
	height: 120px;
	padding: 0;
	background-image:url(../media/hoc-logo.png);
	
}

#levels-bar{
	background-color: #AF3E24;
}

#lines-info{
	background-color: #AF3E24;
}
#levels-bar > div{
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

#levels-bar li{
	height: 10px;
	width: 10px;
	margin: 3px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #ccc;
	background: #333;
	border-radius: 10px;
}

#levels-bar li:not(.current-level):hover{
	height: 12px;
	width: 12px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 4px;
	cursor: pointer;
}

#levels-bar li.current-level{
	height: 22px;
	width: 22px;
	font-size: 11px;
	border-radius: 20px;
	font-weight: bold;
	line-height: 20px;
}

#levels-bar li.lcolor0{
	
}

#levels-bar li.lcolor1{
	background-color: #d2ff52;
}

#lines-count{
	font-size: 30px;
	
}