body{
	background-color: #eeeeee;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#wrap{
	width: 1090px;
	margin: 0 auto;
	padding: 10px;
}

#wrap > div{
	display: inline-block;
	vertical-align: top;
}

#blocklyDiv{
	height: 480px;
	width: 600px;
}

#gameContainer{
	position: relative;
}

#gameDiv{
	width: 450px;
	height: 450px;
	background-color: #f00;
}

#current-level{
	font-weight: bold;
	padding: 4px;
}

#block-table-header > div{
	display: inline-block;
	float: left;
}

#block-table-header > div:first-child{
	width: 197px;
}

#block-table-header > div:last-child{
	width: 197px;
}

.modalWindowMessages{
	display: none;
}

#game-header > div{
	display: inline-block;
	vertical-align: middle;
}

#game-info{
	margin-top: 5px;
	padding: 8px;
	border: 2px solid #008E99;
	background-color: #26ABB7;
	color: #ffffff;
	cursor: default;
}

#game-info-title{
	padding-bottom: 2px;
	font-weight: bold;
	border-bottom: 1px solid #008E99;
}

#game-info-desc{
	padding-top: 2px;
}

#buttons{
	position: absolute;
	bottom: 0px;
	right: 0;
	padding: 5px;
}


#buttons > button{
	width: 200px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 15px;
	display: inline-block;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

#buttons > button:hover{
	cursor: pointer;
    opacity: 1;
    
}

#js-button{
	background-color: #26ABB7;
}

#exec-button{
	margin-top: 5px;
    background-position: right;
    background-repeat: no-repeat;
}

#exec-button:not(.running){
	background-image: url(../media/play-icon.png);
	background-color: #26B55F;
}

#exec-button.running{
	opacity: 1;
}

.running{
	background-image: url(../media/stop-icon.png);
	background-color: #AF3E24;
}



