body{
	background-color: #eeeeee;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#wrap{
	width: 100%;
	margin: auto;
        text-align: center;
}

#wrap > div{
	/*width: 450px;*/
	display: inline-block;
	vertical-align: top;
        text-align: center;
}

#blocklyDiv{
	height: 480px;
	width: 450px;
}

#gameContainer{
	position: relative;
}

#gameDiv{
	width: 450px;
	height: 450px;
}

#current-level{
	font-weight: bold;
	padding: 4px;
}

#block-table-header > div{
	display: inline-block;
	float: left;
}

#block-table-header > div:first-child{
	width: 197px;
}

#block-table-header > div:last-child{
	width: 197px;
}

.modalWindowMessages{
	display: none;
}

#game-header > div{
	display: inline-block;
	vertical-align: middle;
}

#game-info{
	height: 42px;
	margin-top: 5px;
	padding: 8px;
	border: 2px solid #008E99;
	background-color: #26ABB7;
	color: #ffffff;
	cursor: default;
}

#game-info-title{
	padding-bottom: 2px;
	font-weight: bold;
}

#game-info-desc{
	padding-top: 2px;
}

#buttons{
	margin-top: 5px;
}


#buttons > button{
	width: 222px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 15px;
	display: inline-block;
}

#buttons > button:hover{
	cursor: pointer;
    
}

#js-button{
	background-color: #26ABB7;
}

#exec-button{
    background-position: right;
    background-repeat: no-repeat;
}

#exec-button:not(.running){
	background-image: url(../media/play-icon.png);
	background-color: #26B55F;
}

.running{
	background-image: url(../media/stop-icon.png);
	background-color: #AF3E24;
}

#game-tutorial{
	margin-top: 5px;
	background-color: #AF3E24;
	border-radius: 2px;
	font-size: 22px;
	color: #fff;
	padding: 5px;
	cursor: default;
	text-align: center;
}

#game-tutorial:hover{
	cursor: pointer;
	text-decoration: underline;
}

#game-tutorial > span{
	font-family: sans-serif;
}

.completedTitle{
	font-size: 30px;
	font-weight: bold;
	color: #D64828;
	text-align: center;
}

.completed-buttons{
	margin-top: 10px;
}

.completed-buttons > button{
	width: 180px;
	padding: 10px 20px;
	color: #fff;
	font-size: 20px;	
}

.completed-buttons > button:hover{
	cursor: pointer;
}

.completed-repeat-btn{
	background-color: #2BBDCA;
}

.completed-next-btn{
	background-color: #43B945;
	float: right;
}

.completed-help-btn{
	background-color: #43B945;
	float: right;
}

.centered{
	display: block;
	margin: 0 auto;
}

.game_content {
    padding: 25px 0px 20px 20px;
    margin: 0 auto;
}

.block_content {
    padding: 25px 20px 20px 0;
    margin: 0 auto;

}