body{
	background-color: #eeeeee;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

section{
	width: 1070px;
	margin: 0 auto;
}

section table{
	display: inline-table;
	vertical-align: middle;
}

#blocklyDiv{
	height: 480px;
	width: 600px;
}


#gameDiv{
	width: 450px;
	height: 476px;
	border: 2px solid #bbbbbb;
}

#block-table-header > div{
	display: inline-block;
	float: left;
}

#block-table-header > div:first-child{
	width: 197px;
}

#block-table-header > div:last-child{
	width: 197px;
}

.modalWindowMessages{
	display: none;
}

#game-header > div{
	display: inline-block;
	vertical-align: middle;
}

#game-info{
	width: 450px;
	padding: 8px;
	border: 2px solid #008E99;
	background-color: #26ABB7;
	color: #ffffff;
	cursor: default;
}

#game-info-title{
	padding-bottom: 2px;
	font-weight: bold;
	border-bottom: 1px solid #008E99;
}

#game-info-desc{
	padding-top: 2px;
}

#buttons{
}

#buttons > button{
	width: 200px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 2px;
	display: block;
	color: #FFFFFF;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
}

#buttons > button:hover{
	cursor: pointer;
}

#js-button{
	background-color: #26ABB7;
}

#exec-button{
	background-color: #26B55F;
	margin-top: 5px;
}

#lines-info{
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #bbbbbb;
	padding: 4px;
	border-radius: 2px;
	cursor: default;
	background-color: #AF3E24;
}

#lines-count{
	font-size: 30px;
	
}
